{% extends "layout.html.twig" %}
{% block content %}
{% for i, group in xp.query('//group') %}
{% endfor %}
{% for group in xp.query('//group') %}
    <h2>{{ group.attribute('name') }}</h2>
    <div class="row">
        <table class="span4" style="layout: fixed">
            <tr>
                <th><i class="icon-retweet"></i> PR's</th> 
                <td>{{ xp.evaluate('count(//repository[@group="' ~ group.attribute('name') ~ '"]//issue[@state="open"]/pull_request[@html_url])') }}</td>
                <th><i class="icon-warning-sign"></i> Issues</th> 
                <td>{{ xp.evaluate('count(//repository[@group="' ~ group.attribute('name') ~ '"]//issue[@state="open"])') }}</td>
            </tr>
        </table>
        <div class="span8">{{ group.attribute('description')|raw }}</div>
    </div>
    {% for i, repo in xp.query('//repository[@group="' ~ group.attribute('name') ~ '"]') %}
        {% include "repos/repo.html.twig" %}
    {% endfor %}
{% endfor %}

<h2>Not Grouped</h2>
{% for i, repo in xp.query('//repository[not(@group)]') %}
    {% include "repos/repo.html.twig" %}
{% endfor %}

<script type="text/javascript">
    $('.collapse').collapse();
</script>
{% endblock %}
