<!DOCTYPE html>
<html>
    <head>
        <title>Github Aggregator and Reporter</title>
        <link rel="stylesheet" media="screen" href="/bootstrap/css/bootstrap.css"/>
        <script type="text/javascript" src="/jquery.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Github Aggregator and Reporter</h1>
            <div class="btn-group">
                <a href="#" class="btn">Regenerate</a>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
